<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <title>Data Science </title>
   </head>
   <body class="container">
      <h2> Wave Project</h2>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <ul class="nav navbar-nav">
                  <li class="active"><a class="navbar-brand" href="/">Home</a></li>
               </ul>
            </div>
         </div>
         <!-- /.container-fluid -->
      </nav>
      <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <input type="file" name="myfile">
         <button type="submit">Upload</button>
      </form>
      {% if uploaded_file_url %}
      <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
      {% endif %}
      <br>
      <p> Please refresh the page after successful file upload</p>
      <div class="container">
         <h2>Report</h2>
         <p>The payroll report:</p>
         <table class="table table-bordered">
            <thead>
               <tr>
                  <th>Employee ID</th>
                  <th>Pay Period</th>
                  <th>Amount paid</th>
               </tr>
            </thead>
            <tbody>
               {% if employee_report %}
               {% for employee in employee_report%}
               <tr>
                  <td> {{ employee.employee_id }}</td>
                  <td> {{ employee.from_date }} - {{ employee.to_date }}</td>
                  <td> ${{ employee.amount_paid }}</td>
               </tr>
               {% endfor %}      
               {%endif%}     
            </tbody>
         </table>
      </div>
   </body>
</html>